/*  your css code here. If applicable */

#grid{
	display : grid;
	grid-template-columns : repeat(4,242.5px);
	grid-template-rows : repeat(5,124px);
	gap : 10px 10px;
}
#grid div{
	background-color : green;
	color : white;
	padding : 0 10px;
	font-size : 30px;
}
#a1{
	grid-column : span 4 / auto ;
}
#a2 {
	grid-row : span 4 / auto;
}
#a4{
	grid-column : span 2 / auto ;
}
#a5{
	grid-column : span 2 / auto;
}
#a10{
	grid-column : span 3 / auto ;
}