/*  your css code here. If applicable */

#grid{
	display : grid;
	grid-template-columns : repeat(4,190px);
	grid-template-rows : repeat(5,124px);
	padding : 10px  ;
	gap : 5px;
}
#grid div{
	background-color : green;
	color : white;
	padding : 0 10px;
	font-size : 30px;
}
#a1{
	grid-column : 1 / span 4;
	grid-column-end : 5;
}
#a2 {
	grid-row : 2 / span 4;
}
#a4{
	grid-column : 3 / span 2 ;
}
#a5{
	grid-column : 2 / span 2;
}
#a10{
	grid-column : 2 / span 3 ;
}